.footer__right,.footer__left {
	width: 50%;
	float: left;
}
.footer__copyright {	
	font-size: 14px;
	line-height: 50px;
	color: #9c9c9c;
	margin: 0;
	font-weight: 200;
}
.social {
	text-align: right;
	margin: 5px 0;
}
.social__list {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
}
.social__item {
	display: inline-block;
	vertical-align: middle;	
}
.social__link {	
	width: 33px;
	height: 40px;
	display: block;	
}
@each $item in (fb, vk, tw) {
	.social__link_#{$item} {
		background:transparent url('../img/icons/social/#{$item}-disable.svg') center center no-repeat;
		&:hover, &:focus {
			background:transparent url('../img/icons/social/#{$item}.svg') center center no-repeat;
		}
	}
}

