.header {
	background-color: #fff;
	height: 80px;
	margin-bottom: 25px;	
	-webkit-box-shadow: 1px 0 3px rgba(0,0,0,.2);
	box-shadow: 1px 0 3px rgba(0,0,0,.2);	
}
.header__left, .header__right {
	width: 50%;
	float: left;
}
.header__right {
	text-align: right;
}
.user {
	margin-top: 10px;
}
.user__avatar, .user__name {
	display: inline-block;
	vertical-align: middle;
}
.user__avatar {
	border-radius: 50%;
	overflow: hidden;
	border: 1px solid #bebebe;
	width: 60px;
	height: 60px;
}
.user__avatar-img {
	display: block;
	max-width: 100%;
	height: 100%;
}
.user__name {
	margin-left: 12px;
	margin-top: 2px;
	max-width: 240px;
}
.contacts {
	margin-top: 28px;
	position: relative;	
	&:hover {
		.contacts__trigger {
			color: $hover-alternative;
			background: url('../img/decor/header-border-hover.png') repeat-x bottom;		
		}
		.contacts__drop-hover {
			display: block;
		}
	}
}
.contacts__trigger {
	display: inline-block;
	color: $hover-color;
	font-size: 18px;
	line-height: 28px;
	background: url('../img/decor/header-border.png') repeat-x bottom;
	font-weight: 500;
	
	&_sm{
		display: none;
		background: none;				
	}
	
}
.contacts__trigger_sm.contacts__trigger_active {
	background:none;
}
.contacts__drop-hover {
	display: none;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #dedede;
	border-radius: 10px;
	position: absolute;
	right: 0;
	top: calc(100% + 16px);
	z-index: 1000;
	width: 200px;
	&:before {
		content: '';
		display: block;
		width: 100%;
		position: absolute;
		height: 30px;
		top: -28px;
		left: 0;
	}
}
.contacts__dropdown {		
	&:before,&:after {
		content: '';
		display: block;
		position: absolute;
		border: 6px solid transparent;
		border-bottom: 10px solid #fff;
		top: -16px;
		left: 75%;
		margin-left: -12px;
	}
	&:before {
		top: -17px;
		border-bottom-color: #dedede;
	}	
}
.contacts__dropdown-item {
	text-align: left;	
}
.contacts__link {
	font-size: 	0px;	
	display: block;
	padding: 5px 0;	
	i{
		font-size: 	18px;
		vertical-align: middle;
		color: 	$hover-color;
	}
}
.contacts__link-text {
	display: inline-block;	
	vertical-align: middle;	
	font-size: 	18px;
	color: 	#414141;
	margin-left: 10px;
}
