.sidebar {
	float: left;
	width: 23%;
}
.nav__list {
	text-align: right;	
}
.nav__link {
	display: block;
	color: #414141;
	line-height: 24px;
	padding: 10px 24px 15px 0;
	border-right: 6px solid transparent;	
}
.nav__item_active .nav__link{
	border-right-color: #33c1e3;	
}
.nav__text {
	margin-left: 9px;
}
.nav__item:hover .nav__link{
	color: #33c1e3;
}

