// Icons from directory ""
%icon {
	background-repeat: no-repeat
}
.icon-arrow-scroll,
.icon-arrow-scroll\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 0;
}
.icon-arrow-scroll-dims {
	width: 29px;
	height: 14px;
}
.icon-beef,
.icon-beef\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -14px;
}
.icon-beef-dims {
	width: 44px;
	height: 39px;
}
.icon-buns,
.icon-buns\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -53px;
}
.icon-buns-dims {
	width: 48px;
	height: 30px;
}
.icon-burger,
.icon-burger\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -83px;
}
.icon-burger-dims {
	width: 46px;
	height: 45px;
}
.icon-check,
.icon-check\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -128px;
}
.icon-check-dims {
	width: 128px;
	height: 114px;
}
.icon-cheese,
.icon-cheese\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -242px;
}
.icon-cheese-dims {
	width: 38px;
	height: 34px;
}
.icon-close,
.icon-close\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -276px;
}
.icon-close-dims {
	width: 15px;
	height: 15px;
}
.icon-cucumber,
.icon-cucumber\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -291px;
}
.icon-cucumber-dims {
	width: 42px;
	height: 38px;
}
.icon-drops,
.icon-drops\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -329px;
}
.icon-drops-dims {
	width: 300px;
	height: 160px;
}
.icon-fb,
.icon-fb\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -489px;
}
.icon-fb-dims {
	width: 37px;
	height: 37px;
}
.icon-hand,
.icon-hand\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -526px;
}
.icon-hand-dims {
	width: 73px;
	height: 86px;
}
.icon-inst,
.icon-inst\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -612px;
}
.icon-inst-dims {
	width: 37px;
	height: 37px;
}
.icon-kkal,
.icon-kkal\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -649px;
}
.icon-kkal-dims {
	width: 60px;
	height: 60px;
}
.icon-logo,
.icon-logo\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -709px;
}
.icon-logo-dims {
	width: 98px;
	height: 74px;
}
.icon-map-marker,
.icon-map-marker\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -783px;
}
.icon-map-marker-dims {
	width: 46px;
	height: 58px;
}
.icon-meat,
.icon-meat\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -841px;
}
.icon-meat-dims {
	width: 96px;
	height: 89px;
}
.icon-natural,
.icon-natural\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -930px;
}
.icon-natural-dims {
	width: 88px;
	height: 76px;
}
.icon-phone,
.icon-phone\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -1006px;
}
.icon-phone-dims {
	width: 11px;
	height: 11px;
}
.icon-salad,
.icon-salad\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -1017px;
}
.icon-salad-dims {
	width: 38px;
	height: 39px;
}
.icon-sauce,
.icon-sauce\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -1056px;
}
.icon-sauce-dims {
	width: 40px;
	height: 43px;
}
.icon-twitter,
.icon-twitter\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -1099px;
}
.icon-twitter-dims {
	width: 37px;
	height: 31px;
}
.icon-vk,
.icon-vk\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 -1130px;
}
.icon-vk-dims {
	width: 126px;
	height: 72px;
}