.team {
	background: #fff url('../img/bg/team.jpg') 50% 50% no-repeat;
	background-size: cover;
	min-width: 940px;
}
.team__right {
	float: right;
	width: 50%;
	height: 100%;
	padding: 100px 80px 0;
	background-color: rgba(47,50,52,.93);
}
.team-accord__item {
	padding-left: 22px;
	margin-bottom: 25px;
	&_open {		
		.team-accord__trigger {
			color: $yellow;
			&:before {
				transform: rotate(-180deg);
			}
		}
		.team-accord__content {
			height: 150px;
		}				
	}
}
.team-accord__trigger {
	@include inline-block(middle);
	font-family: 'gagalinregular';
	font-size: .875rem;
	line-height: 1.75rem;
	color: #fff;
	text-decoration: none;
	position: relative;
	transition: .5s;
	&:before {
		content: '';
		display: block;		
		border-top: 7px solid #f9b43b;
    	border-left: 5px solid transparent;
    	border-right: 5px solid transparent;
    	border-bottom: 0px solid transparent;
		position: absolute;
		top: 50%;
		margin-top: -3px;		
		right: 100%;
		margin-right: 10px;
		transition: .5s;
	}
}
.team-accord__content {
	@extend %clearfix;	
	height: 0;
	overflow: hidden;
	transition: height .5s;
}
.team-accord__pic {
	float: left;
	height: 100px;
	width: 100px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	border-radius: 50%;
	margin-top: 15px;
}
.team-accord__info {
	float: right;	
	font-size: 1rem;
	padding-left: 20px;
	width: calc(100%/1 - 100px);
	font-size: .875rem;
	line-height: 1.75rem;
}
.team-accord__vacansy {
	font-family: 'ubuntumedium';
	margin-bottom: 25px;
}
.team-accord__text {
	overflow-y: auto;
}