@media screen and (max-width: 992px) {
	.main-content {
		padding-bottom: 20px;
	}
	.container {
		width: 728px;
	}
	.header {
		margin-bottom: 15px;
	}
	.sidebar {
		float: none;
		width: 100%;
		margin-bottom: 30px;
	}
	.nav__list {
		text-align: left;
	}
	.nav__item {
		display: inline-block;
		vertical-align: middle;
	}
	.nav__link {
		border:none;
		padding: 11px 26px 10px 0;
	}
	.nav__item_active .nav__link{
		border: none;
	}
	.nav__text {
		max-width: 100%;
	}
	.main {
		float: none;
		width: 100%;	}

	.about__left {
		width: 31%;
	}
	.about__right {
		width: 66%;
		box-sizing: border-box;
		padding-right: 36px;
	}
	.about__img {	
		width: 165px;
		height: 165px;	
	}
	.about__text {
		height: 363px;
	}
	.portfolio__list {
		margin-left: -20px;
	}
	.portfolio__item {
		margin-left: 20px;
		margin-bottom: 20px;
	}
	.hello {
		width: 350px;		
	}
	.hello__top {
		padding: 65px 105px 20px;
	}
	.hello__bottom {
		padding: 20px 105px;
	}
	.hello__img {
		width: 105px;
		height: 105px;
		margin-left: -52.5px;
		top: -52.5px;
	}
}
