// COLORS
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;

@import 'layout/mixins';
@import 'layout/fonts';
@import 'layout/adjusments';

@import 'sections/hello';
@import 'sections/best';
@import 'sections/burgers';
@import 'sections/team';
@import 'sections/menu';
@import 'sections/map';
@import 'sprites/iconizr-svg-data';
